body{
     font-family: 'Roboto', sans-serif;
     font-weight: 200;
     overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}
h2, h3, h4{
	font-size: 400;
}
a:hover {
    text-decoration: none;
}
.dubai{
	background-color: rgba(0, 0, 0, .5);
}
#explore{
	background-color: #00BCD4;
	color: white;
	opacity: .9;
	padding: 10px;
	font-size: 300;
	transition: 0.5s ease;
	margin: 0 15px;
}
#explore:hover{
	background-color: #3debff;
}
#discover{
	border: 2px solid #00BCD4;
	color: #00BCD4;
	padding: 10px;
	font-size: 300;
	transition: 0.5s ease;
	margin: 0 15px;
}
#discover:hover{
	background-color: #00BCD4;
	color: white;
	opacity: .9;
}
#dubai{
	margin-top: 100px;
	font-size: 7em;
	color: white;
	font-size: 100;
}
#find{
	color: #00BCD4;
	font-size: 3em;
}
.tri-small{
	width: 0;
	height: 0;
	border-top: 300px solid rgba(0, 188, 212, .4);
	border-right: 300px solid transparent;
	position: absolute;
	z-index: -5;
}
.tri{
	width: 0;
	height: 0;
	border-top: 700px solid rgba(0, 188, 212, .4);
	border-right: 1300px solid transparent;
	position: absolute;
	z-index: -5;
}
.space{
	padding: 0 50px;
}
.hr{
	border: 1px solid white;
	margin: 0 15px;
	/*#00BCD4*/
}
.hrblue{
	border: 1px solid #00BCD4;
	/*#00BCD4*/
}
.row2{
	background-color: white;
	opacity: .95;
}
.paddingtop{
	padding-top: 300px;
}
.padding50{
	padding-top: 50px;
}
.padding100{
	padding-top: 100px;
}
i{
	color: #00BCD4;
}
li{
	color: white;
	list-style: none;
	font-size: 1.6em !important;
	transition: 0.5s ease;
}
li:hover{
	padding-left: 15px;
	font-size: 5em;

}
video{
	position: fixed;
	z-index: -1000;
	width: 100%;
	top: 0;
	left: 0;
}
.fa{
	transition: 0.5s ease;
}
.fa:hover {
	font-size: 5em;
}
